.overlay-menu:hover{
   display: flex;
  align-items: end;
  background: rgba(221, 210, 210, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

}
.menu-parent:hover .overlay-menu {
  opacity: 1;
}

.menu-parent{
  overflow: hidden;
  position: absolute;
  top: 25px;
  left: 140px;
}
.menu-here{

  background-color: #575050;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: black;
  text-size-adjust: 30px;
}
.menu-item:hover{
color: orange;
text-transform: capitalize;
}
.menu-item::marker{
  content: "ᛜ";
}

 .menu-list{

  width: 130px;
  height: 200px; 

 background-color: grey;
 padding: 10px 20px 10px 40px;
 } 
 
/* .menu-item:hover{
  background-color: grey;
  overflow: visible;
 } */


